*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to bottom right, #F20273, #02ABF2);
  height: 95.8vh;
}

.container {
  margin: 88px;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block; 
}


h1 {
  text-align: center;
  margin: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 5px 5px #495b72;
  font-size: 8rem;
  color: #4ECCA3; 
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
  width: 80%;
}

.refresh-button{
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
  text-align: center;
  background: linear-gradient(to bottom right, #F20273, #02ABF2);
  font-size: 1.25rem;
  color: #5efff9;
  border: none;
  border-radius: 5px;
  height: 44px;
  width: 120px;
}

.copyright{
  margin-top: 15px;
  color: #03488E;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 430px){

  body{
    height: 96.7vh;
  }

  h1{
    font-size: 4rem;
  }

  .container {
    width: 100%;
    margin: 0px;
  }

  img{
    width: 50%;
  }

  button{
    text-align: center;
    background: linear-gradient(to bottom right, #F20273, #02ABF2);
    font-size: 1rem;
    color: #5efff9;
    border: none;
    border-radius: 50%;
    height: 90px;
    width: 90px;
  }

  .refresh-button{
    margin-top: 50px;
  }

  .img1{
    margin-bottom: 20px;
  }

  .copyright{
    margin-top: 100px;
  }
}